html{
	zoom:90%;
}

body, html{
	background: #fff;
	color:#6a6c6f;
	height: 100%;
	width: 100%;
}

nav{
	background: #fff;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	height: 49px;
	line-height: 49px;
	z-index: 1001;
}
.color-line {
	position: fixed;
	top:0;
	width: 100%;
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
    background-image: -moz-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
    background-image: -ms-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
    background-image: linear-gradient(to right,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    z-index: 1001;
}
.nav-fluid{
	position: fixed;
	top:6px;
}

.underline{
	text-decoration: underline;	
}

.single{
	font-size:14px!important;
	color:#000!important;
}

.brand{
	display: inline-block;
	padding-left:20px;
	color:#4CAF50;
	padding-right: 20px;
	margin:13px 0;
	height: 24px;
	line-height: 24px;
	border-right: 2px dotted #999;
}

.brand img{
	height: 24px;
}

.app-menu li a{
	color:#777;
	border-bottom: 1px solid transparent;
	height: 49px;
	padding:0 5px;
	margin:0 7px;
	font-size:0.9rem;
}
.app-menu li.active{
	background: transparent;
}

.app-menu li a:hover, .app-menu li.active a{
	background: transparent;
	color:#34a0d6;
	border-color: #999; 
}

.app-tools li a{
	color:#777;
	height: 50px;	
	display: block;
}

.app-tools li a:hover, .app-tools li a:focus{
	background: #eee;
}

.app-tools li a span{
	line-height: 50px;
}

.side-nav{
	top:56px;
	box-shadow: none;
	border-right: 1px solid #eee;
	width:250px;
}
.side-nav li.side-title{
	padding:0 15px;
	font-weight: 400;
	color:#000;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 35px;
    height: 35px;
    padding: 0 15px;
}

.side-nav li a{
	color:#777;
	font-weight: 300;
}
.side-nav li a span{
	margin-right: 10px;
}
.side-nav li a:hover, .side-nav li.active a{
	color:#000;
}
.side-nav li a:hover span, .side-nav li.active a span{
	color:#34a0d6;
}

.nav-footer{
	position: fixed;
	background: #fff;
	border-top:1px solid #eee;
	height: 30px;
	bottom:0;
	left:0;
	right: 0;
	z-index: 999;
	font-size:13px;
}

.nav-footer ul{
	margin:0;
}


.nav-footer ul li{
	display: block;
	padding:5px 10px;
	float:left;
}
.nav-footer ul li:hover{
	background: #f7f7f7;
}
.nav-footer ul li .fa{
	margin-right: 5px;
}

.nav-footer ul li .material-icons{
	font-size: 20px;
}

.fullscreen:hover{
	cursor: pointer;
}

.side-nav{
	z-index: 888;
}

.nav-sub{
	position: absolute;
	top:-60px;
	width:100%;
	margin-top:1px;
	z-index: 999;
	background: #fff;
	border-bottom: 1px solid #eee;
	height: 95px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

	
}

.nav-sub.active{
	top:50px;
}


.nav-sub>div{
	display: none;

}
.nav-sub>div.active{
	display: block;
}

.nav-sub ul{
	margin:0;
}

.nav-sub ul li{
	float:left;
}

.nav-sub ul li a{
	color: #777;
    text-align: center;
    padding: 5px 12px 10px;
    display: inline-block;
    min-width: 80px;
}
.nav-sub ul li i{
	font-size: 24px;
    margin-bottom: 10px;
    display: block;
}
.nav-sub ul li span{
	display: block;
	font-size: 13px;
}

.nav-sub ul li a:hover, .nav-sub ul li.active a{
	color:#34a0d6;
}

.nav-sub ul li a:hover span, .nav-sub ul li.active a span{
	color:#000;
}

.separator{
	border-right: 2px dotted #999;
	height: 55px;
    margin: 10px;
}

.sub-menu{
	float:left;
	margin-top:10px;
	margin-bottom:0;
	border-right: 2px dotted #999;
}

.sub-menu>h6{
	margin-top:7px;
	margin-bottom: 0;
	font-size:11px;
	color:#aaa;
	text-align: center;
	text-transform: uppercase;
}

.wrapper{
	position: fixed;
	bottom:30px;
	top:119px;
	overflow: hidden;
	right:0;
	left:0;
}
.side-nav + .wrapper>{
	left:250px;
}

.content{
	padding:15px;
}

.content-header{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color:#fff;
	padding:10px 15px;
	position: fixed;
	top:54px;
	width: 100%;
	z-index: 888;
}

.content-header + .side-nav{
	top:119px;
}


.content-header + .side-nav + .wrapper{
	left: 250px;
}

.content-header>h6{
	font-weight: 400;
	display: inline-block;
	font-size: 1.3rem;
	margin:0;
}
.content-header>h6>small{
	font-size:11px;
	display: block;
}

.content-chart ul{
	margin:0;
}

.m-t-20{
	margin-top:20px;
}

.scroll{
	overflow-y:auto;
}

.header-tools{
	margin:0;
	margin-top:7px;	
	display: inline-block;
}

.header-tools .chip{
	background: none;
	color:#fff;
}
.header-tools .chip .fa{
	margin-right: 5px;
}

.header-tools .chip:hover, .header-tools .chip.active{
	background: rgba(0,0,0,0.45);
}

.header-tools li{
	float:left;
}

.stats li a{
	padding-right: 10px!important;
}

.p15{
	padding:0 15px;
	line-height: 100%!important;
}

li.p15{
	padding-top:1px;
}

li.p15>.input-field>label{
	font-weight: bold;
	color:#333;
}

.stats li .badge{
	margin-top:7px;
	margin-right: 0;
	color:#fff!important;
}

.jsgrid-header-cell {
    padding: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
}

th,td{
	border-radius: 0;
}

.jsgrid-header-row > .jsgrid-header-cell{
    border:1px solid #f3f3f3;
	border-bottom: 2px solid #eee;
}

.jsgrid-cell {
    padding: 5px 10px;
    font-size: 12px;
}

.jsgrid-edit-row input, .jsgrid-edit-row select, .jsgrid-edit-row textarea, .jsgrid-filter-row input, .jsgrid-filter-row select, .jsgrid-filter-row textarea, .jsgrid-insert-row input, .jsgrid-insert-row select, .jsgrid-insert-row textarea {
    width: 100%;
    padding: 2px;
}

select.material{
	height: auto;
}

.input-field .browser-default + label{
	top:-1.2rem;
	font-size: 12px;
}


.stats .input-field .browser-default{
	width:90%;
}

.table{
	width:100%;
}

.center * {
	text-align: center;
}

.uppercase *{
	text-transform: uppercase;
}

.t_separator{
	border-left:2px solid #000!important;
}

.modal-title{
	padding:20px 24px;
	margin:0;
	color: white;
}

.modal{
	background: transparent;
}

.modal-content{
	background: white;
}

.mini-table td{
	padding:5px;
	font-size: 13px;
}

.card-header{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color:#fff;
}

.m-0{
	margin:0!important;
}

.log-nav a{
	line-height: 100%!important;
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 5px!important;
	height: 44px!important;
	font-weight: 400!important;
}

ul.collapse{
	margin:0;
}

.text-right{
	text-align: right;
}

.log-status{
	position: absolute;
	top:5px;
}

.log-status.done{
	color:green;
}


.log-status.close{
	color:red;
}

.log-info{
	margin-left:32px;
	padding-top:3px;
}

.log-info h6{
	color:#333;
	font-size: 12px;
}
.log-info p, .log-info h6{
	margin:0;
}

.input-box{
	border:1px solid #ddd;
	padding:7px;
}

.input-box label{
	color:#26a69a;
	font-size: 12px;
	margin-bottom: 5px;
}

.tabs.white-text .tab a{
	color:#ddd;
}

.tabs.white-text .tab a:hover, .tabs.white-text .tab a.active{
	color:#fff;
}

.tabs.white-text .indicator{
	background-color: #fff;
}

.info{
	margin:15px 0;
}

.info td{
	padding:10px 0 0 10px!important;
	font-size:13px;
	vertical-align: top;
}


.info th{
	font-size:13px;
	vertical-align: top;
}

.bold{
	font-weight: bold;
}

.payment td{
	padding:2px!important;
	vertical-align: middle;
	font-size: 12px;
}

.info input, .info select, .info  textarea{
	padding:3px;
	width: 100%;
}

input[readonly]{
	background: #f5f5f5;
	color: #777!important;
}

.p0{
	padding:0!important;
}

.p5{
	padding:0 5px!important;
}

.info .jsgrid-cell{
	padding:3px 5px!important;
}

.uppercase{
	text-transform:uppercase
}


.form-content label{
	font-size:11px;
}

.form-content h6{
	margin:0;
	font-size:14px;
}

.box{
	border:1px solid #ccc;
	padding:0 10px 10px!important;
	margin-top:-1px;
}

.m-b-14{
	margin-bottom:14px;	
}

.no-resize{
	resize:none;
}

.p15{
	padding:15px!important;
}

.text-msg{
	padding:0 15px;
	font-size:13px;
	font-weight:500;
}

input[disabled]{
	color:#000!important;
}
.col{
	position:relative;
}

.no-data{
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.73);
	color:#fff;
	font-size:18px;
	text-align:center;
	line-height:20vh;
	z-index:99;
}

.no-data.show{
	display:block;
}

.text-center{
	text-align: center!important;
}

.modal-title{
	display: inline-block;
	width: 100%;
}

.modal-content{
	margin-top:-5px;
}

.fulldate{
	width:100%;
	padding:10px;
	background: #fff!important;	
}

.fa-prefix{
	height: 41px;
	width: 41px;
	text-align: center;
	line-height: 41px;
	color:#fff;
	position: absolute;
	left:0;
	top:0;
}


.fa-prefix + input{
	height: 41px;
	padding-left: 51px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	z-index: 2;
	width: 100%;
}
.fa-sufix{
	height: 41px;
	width: 41px;
	text-align: center;
	line-height: 41px;
	color:#fff;
	position: absolute;
	right:0;
	top:0;
}


.fa-sufix + input{
	height: 41px;
	padding-left:10px;
	padding-right: 51px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	z-index: 2;
	width: 100%;
}

.input-field select{
	height: 41px;
	padding:3px 10px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	width:100%;
}

.number{
	text-align: right;
}

.ui-autocomplete{
	z-index:9999;
	border:1px solid #2196F3!important;
	border-top:0!important;
}

.stock-item{
	padding:10px!important;
	border-bottom:1px solid #ddd;
	font-size:12px;
	background:#f5f5f5;
}


.stock-item h5, .stock-item span{
	font-size:12px;	
	margin:0;
}

.ui-state-active span{
	color:#fff;
}

.nav-left{
	position: relative;
	margin: 10px 0;
	padding: 0 15px;
}

.nav-right{
	float: right;
	position: absolute;
}

.input-group-addon {
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 12px;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #1bc4d0;
    border: 1px solid #1ac3cc;
 }

